<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lambda: Master Code the Fun Way</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= render 'layouts/favicon' %>

  <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'dataturbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli:400,300,400italic">
</head>
<body>

<%= yield %>

</body>
</html>
